.row--example {
    background: #ddd;
}

.row--example .col {
    border: 1px #ccc solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    background: #eccd40;
    padding-top: 20px;
    padding-bottom: 20px
}

#header h1 {
    margin-bottom: 0
}

body {
    color: #333;
}

#left {
    float: left;
    position: sticky;
    top: 0;
    left: 0;
    width: 250px;
    border-right: 1px dashed #eccd40;
}

#right {
    margin-left: 250px;
}

#left, #right {
    padding: 40px 20px
}