$breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$font-family: 'Source Sans Pro', sans-serif

$margin-bottom: 20px

$color-primary: #eccd40
$color-primary-hover: #d5b630

$color-dark: #333333
$color-gray: #ddd
$color-light: #ffffff

$border-radius: 3px

$box-shadow: 0 2px 4px rgba(0,0,0,.05)

$grid-glue: 20px

// for vender/_reboot.scss
$black: $color-dark
$font-family-base: $font-family
$font-size-base: 16px
$font-weight-base: normal
$line-height-base: 1.4em
$body-color: $color-dark
$body-bg: $color-light
$headings-margin-bottom: $margin-bottom
$paragraph-margin-bottom: $margin-bottom
$dt-font-weight: $font-weight-base
$link-color: $color-primary-hover
$link-hover-color: $color-primary
$link-decoration: underline
$link-hover-decoration: underline
$table-cell-padding: 0
$table-caption-color: $color-dark
$label-margin-bottom: 10px